@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

html,
body {
  background-color: #181a1b !important;
  height: 100vh;
}
