@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

svg path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: draw 2s ease-in-out alternate infinite;
}
